.form {
	text-align: right;
  }
  
  .form button {
	font: inherit;
	cursor: pointer;
	background-color: #04eeff;
	border: 1px solid #04eeff;
	color: rgb(0, 0, 0);
	padding: 0.25rem 2rem;
	border-radius: 20px;
	font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
	background-color: #04eeff;
	border-color: #04eeff;
  }